@using BlogHomekit.Web.Helpers

@model List<BlogHomekit.Model.Posts.PostSummary>

@foreach (var item in Model)
{
    <div>
        <h2>
            <a href="@Url.PathUrlPost(item.FechaPost,item.UrlSlug)">@item.Titulo</a>
        </h2>
        @Html.Raw(item.Subtitulo)
        <br />
        <a class="readMore" href="@Url.PathUrlPost(item.FechaPost,item.UrlSlug)">
            Leer Mas
        </a>
    </div>
}
