@using BlogHomekit.Web.Helpers

@model BlogHomekit.Model.Posts.PostCover

<div class="jumbotron jumbotron-fluid">
    <h1>AAA</h1>
    <p class="lead">AAA</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

